<% provide(:title, "About") %>
<h1>About</h1>

<%= link_to image_tag("profile.jpg", alt: "A profile photo of Kevin Kim", width: "300px") %>

<p>
I am Kevin and lives in Grinnell, 
IA. I am passionate about ...
</p>